spring:
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: ws-gateway
      auto-offset-reset: latest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
server:
  port: 8081

logging:
  level:
    org.springframework.kafka: INFO
    com.proj.chat: DEBUG
